{%extends 'base.html' %}
{%block title%}Sign up{%endblock%}
{%block body%}
<div class="">
    <div class="min-h-screen w-full p-6 flex justify-center items-center">
        <div class="w-full max-w-xs">
            <div class="bg-white border p-8 shadow rounded w-full mb-6">
                <h1 class="mb-6 text-lg text-gray-900 font-thin">Create your account</h1>
                <form method="POST" action="/sign-up"> {% csrf_token %}
                    <fieldset class="mb-4">
                        <label class="block text-sm text-gray-900 mb-2">Username</label>
                        <input id="username" name="username" type="text" class="block w-full rounded-sm border bg-white py-2 px-3 text-sm" required autofocus>
                    </fieldset>
                    <fieldset class="mb-4">
                        <label class="block text-sm text-gray-900 mb-2">Email address</label>
                        <input id="email" name="email" type="email" class="block w-full rounded-sm border bg-white py-2 px-3 text-sm" required autofocus>
                    </fieldset>
                    <fieldset class="mb-4">
                        <div class="w-full flex justify-between items-center">
                            <label for="password" class="block text-sm text-gray-900 mb-2">Password</label>
                        </div>
                        <input id="password" name="password" type="password" class="block w-full rounded-sm border bg-white py-2 px-3 text-sm" required>
                    </fieldset>
                    {%if text %}
                    <div class="pt-1 pb-5 text-sm {{color}}">
                        <label>{{text}}</label>
                    </div>
                    {% endif %}
                    <button type="submit" class="block w-full text-white bg-yellow-500 border-0 py-2 px-6 focus:outline-none hover:bg-yellow-600 rounded text-sm">
                        Create
                    </button>
                </form>
            </div>
            <p class="text-center text-sm text-gray-600 font-thin">Already have an account? <a href="/sign-in" class="text-blue-500 no-underline hover:underline">Sign in</a></p>
        </div>
    </div>
</div>
{%endblock%}