{%extends 'base.html'%}
{%block title%}Tokens{%endblock%}
{%block body%}

<div class="bg-gray-100">
    <div class="min-h-screen w-full p-6 flex justify-center items-center">
        <div class="w-full max-w-xs">
            <div class="bg-white border p-8 shadow rounded w-full mb-6">
                <h1 class="mb-6 text-lg text-blue-600 font-thin">verify your account</h1>
                 <p>we have sent you an email to activate your account. Make sure you have entered correct email address</p>
                </h1>
            <div>
        <div>
    <div>
<div>
{%endblock%}